.bogi_list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-between;
  align-items: center;
  gap: 10px 5px;
  padding: 10px;
  margin: 0;
  font-size: .65em;
  font-weight: 600 !important;
  text-align: center;
}

.bogi_list li {
  width: 70px;
}